services:

  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"  # HTTP interface
      - "7687:7687"  # Bolt protocol
    environment:
      - NEO4J_AUTH=neo4j/password  # Set initial username/password # TODO Get this from ENV file
      - NEO4JLABS_PLUGINS=["graph-data-science", "apoc"]
      - NEO4J_dbms_security_procedures_whitelist=gds.*, apoc.*
      - NEO4J_dbms_security_procedures_unrestricted=gds.*, apoc.*
    volumes:
      - ./data/neo4j:/data  # Persist data in project folder
    restart: unless-stopped
    networks:
      - appnet
    healthcheck:
      test: wget http://localhost:7474 -O /dev/null || exit 1
      interval: 5s
      timeout: 10s
      retries: 20
      start_period: 30s

  backend:
    build: ./backend
    restart: unless-stopped
    volumes:
      - ./data/user_supplied_repo:/app/bitcoin 
      - ./backend/app:/app  # Mount app code for live reloading
      - ./backend/wsgi.py:/app/wsgi.py  # Mount wsgi.py separately
      - ./backend/wsgi.ini:/app/wsgi.ini  # Mount wsgi.ini separately
    depends_on:
      neo4j:
        condition: service_healthy
    networks:
      - appnet
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/app/frontend  # Persist data in project folder
    ports:
      - "8080:8080"
    depends_on:
      - neo4j
      - backend
    networks:
      - appnet

networks:
  appnet:
