services:

  neo4j:
    image: neo4j:5.20.0
    ports:
      - "7474:7474"  # HTTP interface
      - "7687:7687"  # Bolt protocol
    env_file:
      - .env
    environment:
      - NEO4J_AUTH=${APP_NEO4J_USER}/${APP_NEO4J_PASSWORD}
    volumes:
      - ./data/neo4j:/data  # Persist data in project folder
    command: ["neo4j", "console", "--verbose"]
    restart: unless-stopped
    networks:
      - appnet
    healthcheck:
      test: wget http://localhost:7474 -O /dev/null || exit 1
      interval: 5s
      timeout: 10s
      retries: 20
      start_period: 30s

  backend:
    build: ./backend
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./backend/app:/app  # Mount app code for live reloading
      - ./backend/wsgi.py:/app/wsgi.py  # Mount wsgi.py separately
      - ./backend/wsgi.ini:/app/wsgi.ini  # Mount wsgi.ini separately
      - ${USER_SUPPLIED_REPO_PATH}:/app/bitcoin # Mount last so that it's supercedes the app code mount
    depends_on:
      neo4j:
        condition: service_healthy
    networks:
      - appnet
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/app/frontend  # Persist data in project folder
    ports:
      - "8080:8080"
    depends_on:
      - neo4j
      - backend
    networks:
      - appnet

networks:
  appnet:
