[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
graphene = "*"
flask-graphql = "*"
uwsgi = "*"
psycopg2-binary = "*"
GitPython = "*"
neo4j = "*"
git-fame = "*"

[dev-packages]

[requires]
python_version = "3.11"