[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
graphene = "*"
flask-graphql = "*"
uwsgi = "*"
psycopg2-binary = "*"
GitPython = "*"
neo4j = "*"
git-fame = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
testcontainers = {extras = ["neo4j"], version = "*"}

[requires]
python_version = "3.13"